.container-fluid {
    background-color: #FFD95A;
}

/* Style of Nav Buttons */
.nav-link {
    text-decoration: none;
    position: relative;
  }
  
.nav-link:hover {
    color: #FFF7D4 !important;
  }

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: width 0.3s ease;
  }

.nav-link:hover::after {
    width: 100%;
    background-color: #FFF7D4;
  }
  
/* Style of Image */
.scaled-image {
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
.scaled-image:hover {
    transform: scale(0.93);
    opacity: 0.7;
  }

.footer {
    background-color: #FFD95A;
  }


